@page "/counter"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthState
 
<PageTitle>Counter</PageTitle>

<h1>Private: @_username</h1>


@code {
    private string _username = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthState.GetAuthenticationStateAsync();

        _username =
            state.User.Claims
            .Where(c => c.Type.Equals("name"))
            .Select(c => c.Value)
            .FirstOrDefault() ?? string.Empty;

        await base.OnInitializedAsync();
    }
}
