@page "/me"
@using System.Security.Claims
@attribute [Authorize]

@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Me</PageTitle>

<h1>Me</h1>

<ul>
    <li>Name: @response.Name</li>
    <li>Customer: @response.CustomerId</li>
    <li>License: @response.License</li>
    <li>Role: @response.Role</li>
</ul>

@code {
    private GetMeResponse response;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal user = authState.User;
    }
}

